/*Plugin styles*/

#dataTable_wrapper .pagination {
    list-style: none;
    display: flex;
    max-width: fit-content;
}

#dataTable_wrapper .pagination .page-item {
    margin-top: 0;
}
#dataTable_wrapper .pagination .next {
    margin-left: 15px;
}
#dataTable_wrapper .pagination .previous {
    margin: 0;
}